{% extends 'base.html' %}
{% block content %}
{% if products %}
<div class="container-fluid">
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Ilość Opinij</th>
      <th scope="col">Ilość Zalet</th>
      <th scope="col">Ilość Wad</th>
      <th scope="col">Średnia Ocena</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <td><a href="{% url 'product_info' product.product_id %}">{{ product.product_id }}</a></td>
      <td>{{ product.opinion_amount }}</td>
      <td>{{ product.pros_amount }}</td>
      <td>{{ product.cons_amount }}</td>
      <td>{{ product.mean}}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
  {% else %}
  <p>Pusty</p>
  {% endif %}
{% endblock %}